VITE_FIREBASE_API_KEY=AIzaSyBrOcFs6pXEK5N8gJxhaE-A7X8YpxC9qPA
VITE_FIREBASE_AUTH_DOMAIN=jpn8-trip-plan-manager.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jpn8-trip-plan-manager
VITE_FIREBASE_STORAGE_BUCKET=jpn8-trip-plan-manager.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=895536300165
VITE_FIREBASE_APP_ID=1:895536300165:web:d901c1b9693e9d5c98a9ec
